.outputs-section {
  font-size: 1.6rem;
  display: flex;
  border: 1px solid var(--netural2);
  border-radius: 0.4rem;
  padding: 0.8rem;
  justify-content: space-between;
  &:not(:first-of-type) {
    margin-top: 1rem;
  }

  .results {
    gap: 0.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    .translated-container {
      align-self: flex-end;
      display: flex;
      width: 60rem;
      flex-direction: column;
      align-items: flex-end;

      span {
        font-size: 1.2rem;
      }
    }
    .lang-type {
      background-color: var(--overlay);
      padding: 0.4rem;
      border: none;
      // border-radius: 20px;
      font-size: 1rem;
      width: fit-content;
    }
    .select-container {
      display: flex;
      flex-direction: column;
      select {
        outline: none;
        background-color: var(--overlay);
        max-width: 11rem;
        align-self: flex-end;
        color: var(--netural2);
        &:focus {
          outline: none;
          background-color: var(--overlay);
        }
      }
    }
  }

  .summarized-container {
    display: flex;
    flex-direction: column;
    button {
      border: none;
      font-size: 1.2rem;
      padding: 0.4rem 0.8rem;
      background-color: var(--netural3);
      color: var(--netural2);
      width: fit-content;
      &:is(:focus, :active) {
        outline: none;
      }
    }
  }
}
